{% extends "public.html" %}
{% block page %}
<div :style="'background-image:url('+background_image+'); background-size: cover; min-height: 100vh; padding: 20px;'" class="q-pa-md">
  <div style="background-color: white; display: flex; align-items: center;">
    <img :src="header_image" alt="Header Image" style="max-width: 100px; height: auto; margin-right: 20px;">
    <h1>Your Header Text Here</h1>
  </div>
  <div class="row q-col-gutter-md justify-center q-mt-md">{% raw %}
    <div v-for="participant in participants" :key="participant.id" class="col-12 col-sm-6 col-md-4 col-lg-3 q-gutter-y-md">
      <q-card>
            <q-item>
              <q-item-section avatar>
                <q-avatar size="xl">
                  <img :src="participant.profile_image || '/raisenow/static/image/raisenow.png'" >
                </q-avatar>
              </q-item-section>

              <q-item-section>
                <h5 class="q-ma-none">{{ participant.name }}</h5 class="q-ma-none">
                <q-item-label caption>{{ participant.description }}</q-item-label>
              </q-item-section>
            </q-item>
            <div class="text-center q-mt-md q-pb-md">
              <q-responsive :ratio="1" class="q-mx-md">
                <qrcode :value="participant.lnurlpay" :options="{width: 200}" class="rounded-borders"></qrcode>
              </q-responsive>
            </div>

            <div class="row">
              <div class="col-3">
                <q-btn flat  @click="copyText(participant.lnurlpay)" class="q-ml-md"  color="primary" icon="content_copy" />
              </div>
              <div class="col-9">
                <div class="float-right q-mr-md">
                <span>{{ participant.total || '0' }}</span>
                <span>sats</span>
              </div>
              </div>



            </div>

      </q-card>
    </div>
    {% endraw %}
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
  Vue.component(VueQrcode.name, VueQrcode)

  new Vue({
  el: '#vue',
  mixins: [windowMixin],
  data: function () {
    return {
      raise_lnurlpay: '{{ lnurlpay }}',
      raisenow_id: '{{ raisenow_id }}',
      header_image: '{{ header_image }}',
      background_image: '{{ background_image }}',
      participants: '{{ participants | safe }}'
    }
  },
  created: function () {
   this.participants = JSON.parse(this.participants)
    // Will trigger payment reaction when payment received, sent from tasks.py
    eventReactionWebocket(this.raisenow_id)
    console.log(this.participants)
  },
  methods: {
    copyText(text) {
      navigator.clipboard.writeText(text).then(() => {
        this.$q.notify({
          message: 'Copied to clipboard',
          color: 'green',
          timeout: 1000
        })
      })
    }
  }
})
</script>
{% endblock %}
